
{% extends 'rango/base.html' %}
{% load staticfiles %} 
{% block title_block %} 
About Page 
{% endblock %} 
{% block body_block %} 
 
<div>
    Rango says here is the about page. <br />
    <p>visits: {{ visits }}</p>
    <button class="btn btn-primary"
    onClick="alert('You clicked the button using JavaScript.');"> Click Me - I run JavaScript
    </button>
    <button class="btn btn-primary" id="about-btn"> Click Me - I'm JavaScript on Speed</button>
    <p>This is a example</p> <p>This is another example</p>
    <img src="/media/cat.jpg" alt="Picture of Rango" />
</div>
{% endblock %}